
.halfdayspicker {
	padding: 5px;
  width: 710px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.halfdayspicker a.monthUp, .halfdayspicker a.monthDown {
  margin: 0 auto;
}
.halfdayspicker a.monthUp {
  float: left;
}
.halfdayspicker a.monthDown {
  float: right;
}
.halfdayspicker ul {
  display: block;
  margin: 0;
  padding: 0;
}

.halfdayspicker li {
	list-style-type: none;
	margin: 5px 0;
	background: #E5EDF5;
	border-radius: 6px;
	padding: 0px 6px 3px;
  display: inline-block;
  width: 100%;
}
.halfdayspicker h3 {
	margin: 0;
  padding-left: 5px;
  line-height: 40px;
	display: inline-block;
	width: 130px;
	vertical-align: top;
}
.halfdayspicker .days {
	display: inline-block;
	margin: 5px;
}

.halfdayspicker .days dl {
  margin: 0;
}

.halfdayspicker .days .day .dayNum {
  color: rgba(0,0,0,0.2);
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.halfdayspicker .days .day.currentWeek .dayNum {
  color: rgba(0,0,0,0.5);
}
.halfdayspicker .days .day.currentWeek.currentDay .dayNum {
  color: rgba(0,0,0,0.8);
}

.halfdayspicker .days .day {
	position: relative;
	margin: 0;
	padding: 1px;
	display: inline-block;
	width: 15px;
	float: left;
}
.halfdayspicker .days dt {
	display: none;
	position: absolute;
	border-radius: 4px;
	top: -15px;
	left: -45px;
	width: 100px;
	text-align: center;
	background: #333;
	color: #fff;
	padding: 2px;
}
.halfdayspicker .days dt:after {
	content: " ";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 1px;
	height: 0;
	margin-left: -9px;
  border-top: 0.8em solid #333;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-bottom: none;
}

.halfdayspicker .days dl:hover dt.weekend,
.halfdayspicker .days dl:hover dt.dayoff,
.halfdayspicker .days dl:hover dt.absence,
.halfdayspicker .days dl:hover dt.absence_pending {
	display: block;
	-webkit-animation: show 400ms alternate;
}

.halfdayspicker .days dd {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	background: #0066b9;
	border-radius: 3px 3px 0 0;
	cursor: default;
	text-align: center;
	color: rgba(255,255,255,0.1);
	font-size: 10px;
}
.halfdayspicker .days dd:hover {
	color: #fff;
}
.halfdayspicker .days dd.included {
    background-color: #0a0;
}
.halfdayspicker .days dd.selected {
    background-color: #060;
    cursor: move;
}

.halfdayspicker .days dl:last-child dd {
	border-top: 2px solid #d9e5f3;
	border-radius: 0 0 3px 3px;
}

.halfdayspicker .days .dayOfWeek-1 {
	margin-left: 5px;
}

.halfdayspicker .days dd:hover {
	background: #f65700;
}

.halfdayspicker .days dd.weekend {
	background: #abc5e3;
}

.halfdayspicker .days dd.dayoff {
	background: #899FB8;
}

.halfdayspicker .days dd.absence {
	background: #6D34AC;
}

.halfdayspicker .days dd.absence_pending {
	background: #6A5AA0;
}

/* non open days colors */
.halfdayspicker .days dd.included.weekend, 
.halfdayspicker .days dd.included.dayoff {
  background-color: #99a;
}
.halfdayspicker .days dd.selected.weekend, 
.halfdayspicker .days dd.selected.dayoff {
  background-color: #667;
}

/* warning colors */
.halfdayspicker .days dd.included.absence {
  background-color: #c00;
}
.halfdayspicker .days dd.selected.absence {
  background-color: #900;
}
.halfdayspicker .days dd.included.absence_pending {
  background-color: #c60
}
.halfdayspicker .days dd.selected.absence_pending {
  background-color: #930
}
    
@-webkit-keyframes show {
	0% {
		display: block;
		opacity: 0;
	}
	15% {
		opacity: 0;
		top: -50px;
	}
	100% {
		top: -15px;
		opacity: 1;
	}
}

